* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-image: url(https://i.ytimg.com/vi/QnrzS2xEoWg/maxresdefault.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

h1,
p,
a {
  text-align: center;
  color: white;
}

section {
  width: 1000px;
  margin: 0 auto;
}

#solar-system {
  position: relative;
  height: 640px;
  list-style: none;
}

li {
  text-indent: -9999px;
  display: block;
  position: absolute;
  border: 2px solid green;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

li span {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

li#sun {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: red;
  top: 302px;
  left: 462px;
  border: none;
  z-index: 100;
}

li#sun span {
  width: 60px;
  height: 60px;
}

li#mercury {
  width: 100px;
  height: 100px;
  top: 270px;
  left: 430px;
  z-index: 99;

    
}

li#mercury span {
  background: #A9A9A9;
  top: 10px;
  left: 10px;
}

li#venus {
  width: 160px;
  height: 160px;
  top: 240px;
  left: 400px;
  z-index: 98;
}

li#venus span {
  background: #F0CF6D;
  top: 118px;
  left: 5px;
}

li#earth {
  width: 220px;
  height: 220px;
  top: 210px;
  left: 370px;
  z-index: 97;
}

li#earth span {
  background: #0000ff;
  top: 56px;
  left: 5px;
  
}

li#earth span#moon {
  width: 4px;
  height: 4px;
  background: #DCDBC6;
  top: 12px;
  left: 12px;
  animation: rotate 2s infinite;
}

li#mars {
  width: 280px;
  height: 280px;
  top: 180px;
  left: 340px;
  z-index: 96;
}

li#mars span {
  background: #b7410e ;
  top: 0px;
  left: 175px;
}

li#jupiter {
  width: 340px;
  height: 340px;
  top: 150px;
  left: 310px;
  z-index: 95;
}

li#jupiter span {
  background: #EF620C;
  top: 67px;
  left: 24px;
}

li#saturn {
  width: 400px;
  height: 400px;
  top: 120px;
  left: 280px;
  z-index: 94;
}

li#saturn span {
  background: #c98932;
  top: 24px;
  left: 300px;
}

li#saturn span#rings {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 75%;
  -moz-border-radius: 75%;
  border-radius: 75%;
  background: none;
  border: 2px solid #c98932;
  left: -3px;
  top: -3px;
  -webkit-transform: skewY(50deg);
  -moz-transform: skewY(50deg);
  -o-transform: skewY(50deg);
  transform: skewY(50deg);
}

li#uranus {
  width: 460px;
  height: 460px;
  top: 90px;
  left: 250px;
  z-index: 93;
}

li#uranus span {
  background: #afeeee ;
  top: 7px;
  left: 300px;
}

li#neptune {
  width: 520px;
  height: 520px;
  top: 60px;
  left: 220px;
  z-index: 92;
}

li#neptune span {
  background: #007FFF;
  top: 0px;
  left: 200px;
}

li#pluto {
  width: 580px;
  height: 580px;
  top: 30px;
  left: 190px;
  z-index: 91;
}

li#pluto span {
  background: #b5651e;
  top: 79px;
  left: 79px;
}

li,
li#earth span {
}

li#mercury {
   animation: rotate 5s infinite;
}

li#venus {
   animation: rotate 8s infinite;
}

li#earth {
    animation: rotate 12s infinite;
}

li#earth span {
  animation: rotate 2s infinite
}

li#mars {
  animation: rotate 20s infinite;
}

li#jupiter {
  animation: rotate 30s infinite;
}

li#saturn {
  animation: rotate 60s infinite;
}

li#uranus {
  animation: rotate 70s infinite;
}

li#neptune {
  animation: rotate 100s infinite;
}

li#pluto {
  animation: rotate 120s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
  to {
    transform: rotate(360deg);
  }
}
